@model MvcProperty.Models.Property

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Property</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Street)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Suburb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Suburb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Postcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Postcode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoldDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoldDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { street=Model.Street, number=Model.Number, suburb=Model.Suburb, state=Model.State, postcode=Model.Postcode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
